exportPattern("^[[:alpha:]]+")
importFrom("stats", "cov", "dist","kmeans", "median", "var", "quantile", "mad")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("doSNOW", "registerDoSNOW")
importFrom("foreach", "%dopar%", "foreach")
importFrom("parallel", "detectCores", "makeCluster", "stopCluster")
importFrom("Rfast", "nth","Dist","rowMins")
